:root {

    /* logo colors */
	--primary: #e53034;
    --light: #ff6568;
    --mid: #8b2a2a;
    --dark: #331314;

	--white: white;
    --black: black;

    --background-1: #151515;
    --background-2: #1f1f1f;
    --background-3: rgb(39, 39, 39);

    --text: rgb(236, 241, 244);
    --text-dark: rgb(174, 174, 174);

}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: var(--background-2);
}

a {
  	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	letter-spacing: 1px;
}

.padding {
    padding: 3% 10%;
    width: 80%;
    line-height: 23px;
}

h1 {

}

h2 {
	font-family: "Inter", sans-serif;
  	font-weight: 700;
  	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	margin: 3% 0%;
    color: var(--primary);
    line-height: 50px;
    
}

h3 {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	text-align: left;
	margin: 3% 0%;
    color: var(--primary);
    line-height: 35px;
}

h4 {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	text-align: left;
	margin: 3% 0%;
    color: var(--primary);
}

	/* Tablets */
	@media screen and (max-width: 1124px) {
		h2 {
			font-weight: 700;
			font-size:40px;
		}
	}

	/* Mobile devices */
	@media screen and (max-width: 767px) {
		h3 {
			font-size: 18px;
		}
	}

p,
label,
li,
input {
  	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	letter-spacing: 1px;
  	text-align: justify;
	padding-bottom: 2%;
	color: var(--text);
}

.intro-description {
    text-align: center;
    width: 70%;
    margin: 0 15% 0% 15%;
}


/* SCROLLER */
/* width */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(23,23,23,1.00); 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(var(--primary), var(--dark));
	transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(var(--light), var(--primary));
	transition: 0.3s;
}








/* ----------------------- HEADER ----------------------- */
header {
    width: 80%;
    padding: 1% 10%;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    gap: 5%;
    background-image: linear-gradient(to right, var(--background-1), var(--background-3), var(--background-1));
    justify-content: center;
	align-items: center;

    position: sticky;
    top: 0; 
    z-index: 2;    
}
.logo img {
    width: 35%;
}
.text-logo img{
    width: 16%;
    margin: 0 42%;
}
.header-socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
}
.header-socials a{
    transition: 0.3s;
}
.header-socials a:hover{
    transform: scale(1.18);
    transition: 0.2s;
}

nav {
    background-color: var(--background-1);
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--mid);
    font-weight: 700;
    transition: 0.3s;
    display: inline-block;
    padding: 1% 2%;
    font-size: 16px;
}
nav a:hover, .dropbtn:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: var(--light);
    background-color: none;
}
.nav-selected {
    color: var(--primary);
}

.dropbtn {
    font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	letter-spacing: 1px;
    font-size: 16px;
    text-decoration: none;
    color: var(--mid);
    font-weight: 700;
    transition: 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}







/* ----------------------- FOOTER ----------------------- */
footer {
    background-image: linear-gradient(to right, #121212, var(--background-1),  #121212);

}
.footer-main {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 2fr;
    gap: 5%;
}
.footer-main h3 {
    margin-bottom: 15%;
}

footer a, .footer p {
    text-decoration: none;
    color: var(--text-dark);
    transition: 0.5s;
    line-height: 30px;
    display: inline-block;
}
footer a:hover {
    color: var(--light);
    transition: 0.2s;
    transform: scale(1.05);
}

.footer-logo-1 {
    width: 40%;
    margin-bottom: 10%;
}
.footer-logo-2 {
    width: 60%;
}

.footer-shoutout a{
    background-color: var(--text);
    padding: 4%;
    border-radius: 15px;
}
.footer-shoutout p{
    color: var(--background-1);
    font-weight: 700;
    font-size: 20px;
    margin-top: 4%;
}


.footer-bottom {
    width: 100%;
    margin-top: 5%;
    border-top: solid var(--text-dark) 1px;
    padding-top: 2%;
    color: var(--text-dark);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;
}
.footer-bottom-left p{
    color: var(--text-dark);
}
.footer-bottom-right{
    text-align: right;
}
.footer-bottom-right a{
    margin-left: 4%;
}






/* ----------------------- HOMEPAGE ----------------------- */
.welcome {
    min-height: 72vh;
    background-image: url('../images/kwf_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome-intro-div {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10%;
}

.welcome-intro-div p {
    border-radius: 20px;
    border: solid var(--dark) 3px;
    padding: 5%;
}
.welcome-intro-div img {
    border-radius: 20px;
}


#welcome-about {
    
}
.welcome-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "wlc-ab-1 wlc-ab-kwf23-img wlc-ab-kwf25 wlc-ab-motivation-img"
        "wlc-ab-1-img wlc-ab-kwf23 wlc-ab-kwf25-img wlc-ab-motivation";
}
.welcome-about div {
    min-height: 40vh;
    border: solid 2px var(--primary);
    background-color: var(--background-1);
    padding: 10%;
}

    .welcome-about-1 {
        grid-area: wlc-ab-1;
    }
    .welcome-about-2 {
        grid-area: wlc-ab-1-img;
        background-image: url('../images/BoomShakaLaka_HalloweenInsta1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .welcome-about-3 {
        grid-area: wlc-ab-kwf23;
    }
    .welcome-about-4 {
        grid-area: wlc-ab-kwf23-img;
        background-image: url('../images/kwf_02.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
    .welcome-about-5 {
        grid-area: wlc-ab-kwf25;
    }
    .welcome-about-6 {
        grid-area: wlc-ab-kwf25-img;
        background-image: url('../images/kwf-2025.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .welcome-about-7 {
        grid-area: wlc-ab-motivation;
    }
    .welcome-about-8 {
        grid-area: wlc-ab-motivation-img;
        background-image: url('../images/dart.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


#offers {
    background-color: var(--background-1);
    padding-bottom: 6%;
    padding-top: 6%;
}
.offers-intro {
    width: 80%;
    text-align: center;
    margin: 0 10% 2% 10%;
}
.offers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}
.offers-container div {
    background-color: var(--background-2);
    border-radius: 12px;
    padding: 8%;
    transition: all 0.3s ease;
    border-top: 5px solid var(--primary);
    box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.237);
}
.offers-container div:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 40px hsla(0, 0%, 0%, 0.491);
    
}
.offers-container h3 {
    margin-bottom: 10%;
    border-bottom: solid 2px var(--primary);
    padding-bottom: 2%;
}


#home-signup{
    margin-bottom: 5%;
    text-align: center;
}

.home-signup-container {
    background: linear-gradient(rgba(21, 21, 21, 0.9), rgba(21, 21, 21, 0.95)), 
    url('../images/BoomShakaLaka_01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 7% 5%;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
}

.home-signup-button-1,
.home-signup-button-2 {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 45px;
    padding: 1.8% 4%;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    margin-top: 2%;
    min-width: 220px;
    gap: 12px;
}
    .home-signup-button-1 {
        color: var(--text);
        border: solid 2px var(--primary);
        background-image: linear-gradient(90deg, var(--primary), var(--mid));
        margin-right: 1%;
    }
    .home-signup-button-2 {
        color: var(--light);
        border: solid 2px var(--light);
        margin-left: 1%;
    }
.home-signup-button-1:hover,
.home-signup-button-2:hover {
    transform: translateY(-9px);
    transition: 0.2s;
}
    .home-signup-button-1:hover {
        background-image: linear-gradient(90deg, var(--light), var(--primary));
        box-shadow: 0px 10px 40px hsla(359, 78%, 54%, 0.351);
    }
    .home-signup-button-2:hover {
        box-shadow: 0px 10px 40px hsla(359, 100%, 70%, 0.413);
    }

.home-signup-button-1 img,
.home-signup-button-2 img {
    width: 33px;
    height: 33px;
    object-fit: contain;
}

#home-signup p {
    width: 70%;
    text-align: center;
    margin: 20px auto;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.home-signup-container h2 {
    margin-bottom: 20px;
}














/* ----------------------- ABOUT ME ----------------------- */
.event-1, .event-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dark);
}

.event-1 {
    background-color: var(--dark);
}
.event-2 {
    background-color: var(--mid);
}


.ab-youtube-vids {
    grid-template-columns: repeat(4, 1fr);
}







/* ----------------------- SIGN UP ----------------------- */
#signup {
    padding-top: 0;
}
.signup-box-1,
.signup-box-2 {
    background-color: var(--background-1);
    padding: 5%;
    border: 4px solid var(--primary);
    border-radius: 30px;
}

.signup-box-1 {
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-areas: 
        "name-label name lastname-label lastname"
        "email-label email date-label date"
        "parent-label parent-label parent parent";
    gap: 3%;
}

    .signup-name {
        grid-area: name;
    }
    .signup-lastname {
        grid-area: lastname;
    }
    .signup-email {
        grid-area: email;
    }
    .signup-date {
        grid-area: date;
    }
    .signup-parent {
        grid-area: parent;
    }

    .signup-name-label {
        grid-area: name-label;
    }
    .signup-lastname-label {
        grid-area: lastname-label;
    }
    .signup-email-label {
        grid-area: email-label;
    }
    .signup-date-label {
        grid-area: date-label;
    }
    .signup-parent-label {
        grid-area: parent-label;
    }

input,
textarea {
    width: 100%;
    padding: 22px;
    border-radius: 20px;
    background-color: var(--background-2);
    border: solid 2px var(--primary);
}

.signup-box-1 > div {
    display: flex;
    align-items: center;
    margin: 5% 0;
}

ul {
    list-style-position: outside;
    padding-left: 4%;
    margin-bottom: 2%;
}

.signup-box-2 hr {
    margin: 4% 0 2% 0;
}

.signup-box-2 input {
    width: 3%;
    margin-right: 6%;
}

#signup>.home-signup-button-1{
    width: 18%;
    text-align: center;
    margin-bottom: 5%;
}

#da, #ne {
    accent-color: var(--primary);
}










/* ----------------------- BLOG ----------------------- */
.blog-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10%;
    margin-bottom: 5%;
}

.blog-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background-1);
    border-radius: 20px;
    border: solid var(--background-3) 3px;
    transition: 0.5s;
}
.blog-content:hover {
    transform: translateY(-10px);
    transition: 0.25s;
}
.blog-content h3{
    font-size: 30px;
    text-transform:none;
}

.blog-how{
    color: var(--text-dark);
    font-weight: 600;
}
.blog-description{
    color: var(--text-dark);
}

.blog-content-1 {
    padding: 10%;
}

.blog-content-2 {
    background-image: url('../images/Dance_practice_room.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 20px 20px 0;
}

.blog-content img {
    border-radius: 0px 20px 20px 0;
}

#blog .home-signup-button-1 {
    font-size: 15px;
    padding: 1.8% 1%;
}

/* ----------------------- BLOG - content ----------------------- */
#blog-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 6%;
    margin-bottom: 5%;
}
#blog-content h2 {
    font-size: 35px;
}
#blog-content h3 {
    margin-bottom: 0;
    margin-top: 3%;
}

.blog-aside {
    background-color: var(--background-1);
    padding: 10%;
}
.blog-aside a {
    text-align: left;
    text-decoration: none;
    color: var(--text);
    display: inline-block;
}
.blog-aside a:hover,
.blog-aside li:hover {
    transform: scale(1.02);
    transition: 0.25s;
    color: var(--light);
}
.blog-aside ol {
    margin-left: 8%;
    display: inline-block;
    text-align: left;
    align-items: left;
}











/* ----------------------- CONTACT ----------------------- */
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin-bottom: 5%;
}


.contact-content form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    grid-template-areas: 
        "c-name-label c-lastname-label"
        "c-name c-lastname"
        "c-email-label c-email-label"
        "c-email c-email"
        "c-textarea-label c-textarea-label"
        "c-textarea c-textarea"
        "c-button c-button";
    background-color: var(--background-1);
    padding: 6%;
    padding-bottom: 22%;
    border-radius: 20px;
    border: var(--primary) solid 4px;
}
    .contact-name {
        grid-area: c-name;
    }
    .contact-lastname {
        grid-area: c-lastname;
    }
    .contact-email {
        grid-area: c-email;
    }
    .contact-textarea {
        grid-area: c-textarea;
    }

    .contact-name-label {
        grid-area: c-name-label;
    }
    .contact-lastname-label {
        grid-area: c-lastname-label;
    }
    .contact-email-label {
        grid-area: c-email-label;
    }
    .contact-textarea-label {
        grid-area: c-textarea-label;
    }

    .contact-button {
        grid-area: c-button;
        align-content: right;
    }

.contact-button .home-signup-button-1 {
    width: 20%;
    text-align: center;
    margin-left: 62%;
}

.contact-aside-container {
    display: grid;
    grid-template-columns: 1fr 13fr;
    gap: 10%;
    row-gap: 50%;
    margin-top: 20%;
}
.contact-aside p {

    text-align: left;
    color: var(--text-dark)
}

.contact-socials {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 3%;
}
.contact-socials a {
   transition: 0.4s;
}

.contact-socials a:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.contact-social-plugin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.twitter-share-button,
.fb-share-button,
.in-share-button {
    width: 50px;
}









/* ----------------------- FAQ ----------------------- */
#faq {
    width: 60%;
    margin: 0 20% 5% 20%;
    display: grid;
}
.faq-container {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    transition: 0.5s;
    border-left: var(--primary) solid 10px;
    margin-bottom: 3%;
}
.faq-container:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    transform: translateY(-10px);
    transition: 0.3s;
}

.faq-question {
    display: grid;
    grid-template-columns: 1fr 20fr;
    background-image: linear-gradient(to right, var(--background-2), var(--background-3));
    padding: 3% 5%;
    border-radius: 25px 30px 0 0 ;
    gap: 5%;
    display: flex;
    align-items: center;
}
.faq-question h3 {
    color: var(--text);
    margin: 0;
    text-transform: none;
}
.faq-number {
    font-size: 25px;
    font-weight: bold;
    color: var(--primary);
    background-color: var(--dark);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--primary);
}

.faq-answear {
    background-image: linear-gradient(to right, var(--background-1), var(--background-2));
    border-radius: 0 0 30px 25px;
    padding: 3% 5% 1% 5%;
}

#faq a {
    color: var(--primary);
    padding-bottom: 0.1%;
    border-bottom: solid 1px var(--primary);
    text-decoration: none;
    transition: 0.3s;
}
#faq a:hover {
    color: var(--light);
    border-bottom: solid 1px var(--light);
    transition: 0.2s;
}