:root {

    /* logo colors */
	--primary: #e53034;
    --light: #ff6568;
    --mid: #8b2a2a;
    --dark: #331314;

	--white: white;
    --black: black;

    --background-1: #151515;
    --background-2: #1f1f1f;
    --background-3: rgb(39, 39, 39);

    --text: rgb(216, 225, 230);

}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: var(--background-2);
    min-height: 200vh;
    
}

p {
  	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	letter-spacing: 1px;
  	text-align: justify;
	padding-bottom: 2%;
	color: var(--text);
}
a {
  	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	letter-spacing: 1px;
}

.padding {
    padding: 3% 15%;
    width: 70%;
}




/* HEADER */
header {
    width: 90%;
    padding: 1% 5%;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    gap: 5%;
    background-image: linear-gradient(to right, var(--background-1), var(--background-3), var(--background-1));
    justify-content: center;
	align-items: center;

    position: sticky;
    top: 0; 
    z-index: 2;    
}
.logo {
    width: 36%;
}
.text-logo {
    width: 16%;
    margin: 0 42%;
}
.header-socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
}
.header-socials a{
    transition: 0.3s;
}
.header-socials a:hover{
    transform: scale(1.18);
    transition: 0.2s;
}

nav {
    background-color: var(--background-1);
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--mid);
    font-weight: 700;
    transition: 0.3s;
    display: inline-block;
    padding: 1% 2%;
    font-size: 16px;
}
nav a:hover, .dropbtn:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: var(--light);
    background-color: none;
}

.dropbtn {
    font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	letter-spacing: 1px;
    font-size: 16px;
    text-decoration: none;
    color: var(--mid);
    font-weight: 700;
    transition: 0.3s;
    display: inline-block;
    padding: 11% 2%;
    font-size: 16px;
    background: none;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}



















/* ----------------------- ABOUT ME ----------------------- */
.event-1, .event-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dark);
}

.event-1 {
    background-color: var(--dark);
}
.event-2 {
    background-color: var(--mid);
}


.ab-youtube-vids {
    grid-template-columns: repeat(4, 1fr);
}




